@model MVCMovies2.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <div style="padding:30px; " class="col-lg-12">
        <div style=" align-items:center" class="col-lg-3">
            <img class="dl-horizontal" style="height:200px; width:200px;margin-left:30px" src="~/images/@Html.DisplayFor(model => model.MovieCover)" />
        </div>
        
        <div style="align-items:center; border-left: 1px solid; border-left-color:lightgray" class="col-lg-9">
            <dl @*class="dl-horizontal"*@ style="margin-left:0px; margin-top:20px">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

            </dl>
        </div>
    </div>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
