@model IEnumerable<MVCMovies2.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:#ffffff; font-family:Calibri;">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>




<style>
    div.dataTables_wrapper {
        margin-bottom: 3em;
    }
</style>

<table id="table-data" class="display" >
    <thead>
        <tr>
            <th>Movies</th>
            @*<th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.MovieCover)</th>
            <th>Actions</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            
        <tr >
            <td style="background-color:#1A1B1B">
                <div style="margin:10px;width:270px; display:flex;flex-direction:column; justify-content:center; align-items:center">
                    <div style="background-color:#ffffff;padding:3px">
                        <img src="~/images/@Html.DisplayFor(modelItem => item.MovieCover)" style="width:260px;height:330px" />
                    </div>
                    <div style=" display:flex; flex-direction:row; margin-top:1px">
                        <p style="color:#ffffff">@Html.DisplayFor(modelItem => item.Title) </p> <p style="color:#ffffff; margin-left:8px; margin-right:8px">|</p>
                        <a href="/Movies/Details?id=@item.ID">Details</a><p style="color:#ffffff; margin-left:8px; margin-right:8px">|</p>
                        <a href="/Movies/Edit?id=@item.ID" style="margin-right:8px">Edit</a> <p style="color:#ffffff; margin-left:28x; margin-right:8px">|</p>
                        <a href="/Movies/Delete?id=@item.ID">Delete</a>
                        @* <p>@Html.DisplayFor(modelItem => item.ReleaseDate)</p>
                <p>@Html.DisplayFor(modelItem => item.Genre)</p>
                <p>$@Html.DisplayFor(modelItem => item.Price)</p>*@
                    </div>
                </div>
            </td>
            @*<td> @Html.DisplayFor(modelItem => item.Title)</td>
            <td> @Html.DisplayFor(modelItem => item.ReleaseDate)</td>
            <td> @Html.DisplayFor(modelItem => item.Genre)</td>
            <td>$@Html.DisplayFor(modelItem => item.Price)</td>
            <td> <img src="~/images/@Html.DisplayFor(modelItem => item.MovieCover)" style="width:260px;height:330px" /></td>
            <td>
                <a href="/Movies/Edit?id=@item.ID">Edit</a> |
                <a href="/Movies/Details?id=@item.ID">Details</a> |
                <a href="/Movies/Delete?id=@item.ID">Delete</a>

            </td>*@

        </tr>
        }
    </tbody>

</table>

