<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie App</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

</head>
<body style="background-color:#1A1B1B">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../Movies"><p class="navbar-brand" style="font-family:Calibri;font-weight:500;font-size:30px;color:#6AC045">MVC Movie</p></a>
               @* @Html.ActionLink("MVC Movie", "Index", "Movies", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Movies")</li>
                    <li>@Html.ActionLink("Create", "Create", "Movies")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Movies")</li>
                    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:#3F3F3F">&copy; @DateTime.Now.Year - ASP.NET MVC Movie 2</p>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            $('#table-data').DataTable();
        });
    </script>

</body>
</html>
